@{
    ViewBag.Title = "About";
}

<h3>Developed by Juan Cuartas</h3>
<div>Sr .Net Developer / Software Architect / Technical Lead</div>
<br />
<strong>Phone: </strong>+57 304 3499162<br />
<strong>Email: </strong><a href="mailto:equisoide@gmail.com">equisoide@gmail.com</a><br />
<strong>Linked-Id: </strong><a href="https://www.linkedin.com/in/juancuartas/" target="_blank">https://www.linkedin.com/in/juancuartas/</a>